html {
  height: 100%;
}

body {
  background-color: rgb(142, 142, 142);
  background-image: url('../assets/bg.png');
  background-size: contain;
  background-attachment: fixed;
  touch-action: manipulation;
}

h1 {
  color: white;
}

h1 small {
  color: rgb(228, 228, 228);
}

.app-window{
  padding-top: 70px;
  padding-bottom: 15px;
}

.top-logo{
  width: 36px;
  height: 36px;
  margin: -7px;
}

.mBottom {
  margin-bottom: 15px;
}

.token {
  background-color: #7ad61f;
  color: #fff;
  border: 0;
  border-radius: 2px;
  display: inline-block;
  line-height: 1em;
  margin: 0 3px 3px 0;
  padding: 4px 7px;
  position: relative;
  font-size: large;
  padding-right: 21px;
}

.close-button {
  bottom: 0;
  padding: 3px 7px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.no-border {
  border: none!important;
}

.justify-content-between {
    -webkit-box-pack: justify!important;
    -webkit-justify-content: space-between!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

.d-flex {
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.justify-content-around {
    -webkit-justify-content: space-around!important;
    -ms-flex-pack: distribute!important;
    justify-content: space-around!important;
}
